@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

body {
    align-items: stretch;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: row-reverse;
    font-weight: 300;
}

.header {
    line-height: 60px;
    font-weight: 500;
}

.body--index .header {
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.body--index .header a {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.header a {
    color: inherit;
    text-decoration: inherit;
}

.content {
    flex-shrink: 1;
    width: 100%;
}

.content .header {
    padding: 0 30px;
}

.body--index .content .header {
    padding: 0;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.search {
    background-color: inherit;
    border: none;
    border-left: solid thin;
    color: inherit;
    line-height: 60px;
    padding: 0 15px;
    margin: 0;
    outline: none;
    font: inherit;
    font-weight: 400;
    width: 100%;
}

.body--index .search {
    border-top-style: solid;
    border-top-width: thin;
}

.menu {
    list-style-type: none;
    padding: 10px 0 0;
    margin: 0;
    text-transform: capitalize;
    height: calc(100% - 60px);
    border-left: solid thin;
    box-sizing: border-box;
    overflow: auto;
}

.menu > .menu__item > a {
    padding-left: 20px;
}

.menu__sub {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.menu__item {
    line-height: 30px;
}

.menu__item--hidden {
    display: none;
}

.menu__item--active .menu__link {
    font-weight: 400;
}

.menu__text {
    display: block;
    font-weight: bold;
    padding: 0 20px;
    font-size: 12px;
}

.menu__link {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-size: 14px;
}

.wrapper {
    max-height: calc(100% - 60px);
    overflow: auto;
}

.body--index .wrapper,
.body--index .menu {
    min-height: calc(100% - 400px);
    height: auto;
    max-height: none;
}

.body--index .menu {
    border-bottom-style: solid;
    border-bottom-width: thin;
    min-height: 0;
}

.doc {
    box-sizing: border-box;
    color: #777;
    padding: 30px 50px;
    margin: 0 auto;
    max-width: 1200px;
}

code {
    padding: 3px;
    border-radius: 3px;
}

pre code {
    white-space: pre-wrap;
    padding: 30px !important;
}

h1 {
    margin: 35px 0 30px;
    padding-bottom: 15px;
    border-bottom: solid thin;
    font-size: 30px;
}

h2 {
    margin: 25px 0 20px;
    font-size: 24px;
}

h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

h4, h5, h6 {
    margin: 10px 0 5px;
}

p {
    margin: 15px 0;
}

ol, ul {
    padding: 0;
    margin: 10px 0;
    padding-left: 30px;
    line-height: 30px;
}

ol ol {
    list-style-type: lower-roman;
}

ul {
    list-style-type: disc;
}

ol ol,
ul ul {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border: solid thin;
    padding: 10px;
}

blockquote {
    border-left: solid 5px;
    margin: 10px 0;
    padding: 5px 0 5px 10px;
}

hr {
    border-style: solid;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

.hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #ef4a4a !important;
}

/* THEMABLE */

body {
    color: $baseText;
    background-color: $base;
}

.header {
    color: $primaryText;
    background-color: $primary;
}

.search {
    border-color: rgba(0, 0, 0, .1);
}

::-webkit-input-placeholder {
   color: $primaryText;
}
:-moz-placeholder { /* Firefox 18- */
   color: $primaryText;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $primaryText;
}
:-ms-input-placeholder {
   color: $primaryText;
}

.menu {
    border-color: $subtleBorder;
}

.menu__item--active {
    color: $primary;
}

code {
    color: $primary;
    background-color: $subtleBackground;
}

pre code {
    background-color: $subtleBackground !important;
}

h1 {
    border-color: $subtleBorder;
}

th, td {
    border-color: $subtleBorder;
}

tbody tr:nth-child(2n + 1) td {
    background-color: $subtleBackground;
}

blockquote {
    border-color: $subtleBorder;
}

hr {
    border-color: $subtleBorder;
}

a {
    color: $primary;
}
